@model WebFlug.Models.Orders

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>Order Details</title>
<!-- Content page -->
<section class="sec-product-detail bg0 p-t-65 p-b-60">
    <div class="container">
        <div class="row">

            <!--bto3 el sora-->
            <div class="col-md-6 col-lg-30" style="margin-top:150px">
                <div class="p-l-25 p-r-30 p-lr-0-lg">
                    <div class="wrap-slick3 flex-sb flex-w">
                        <div class="wrap-pic-w pos-relative">
                            <img src="~/Uploads/@Html.DisplayFor(model => model.ProductImage)" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-5 p-b-30">
                <div class="p-r-50 p-t-5 p-lr-0-lg">

                    <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                        <b><u>@Html.DisplayFor(model => model.ProductName)</u></b>  Order Details
                    </h4>

                    <div class="p-t-33">

                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.OrderNumber)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.OrderNumber)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.ProductName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ProductName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.ProductDetails)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ProductDetails)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.ProductPrice)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ProductPrice)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.ProductQuantity)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ProductQuantity)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.ProductLink)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ProductLink)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.ProductWeight)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ProductWeight)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Deliverfrom)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Deliverfrom)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.DeliverTo)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DeliverTo)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.DeliverDate)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DeliverDate)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.AdditionalDetails)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.AdditionalDetails)
                            </dd>

                        </dl>
                    </div>

                    @*Button*@
                    <div class="size-210  flex-w flex-col-m p-lr-93 p-tb-30 p-lr-15-lg w-full-md">
                        <div class="flex-w w-full p-b-42">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 "
                                            onclick="location.href='@Url.Action("offersOForder", "Order", new { id = Model.Order_Id })'">
                                        View Offers
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Back to My Orders", "ViewOldOrders", "Order") |
                        @Html.ActionLink("Edit Order", "Edit", new { id = Model.Order_Id})
                    </p>
                    @*END-Button*@

                </div>
            </div>
        </div>
    </div>
</section>