@model WebFlug.ViewModels.OrdersViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>
    <b> Prodcut Name :</b> @Model.order.ProductName
    <br />
    <b> Order Number :</b> @Model.order.OrderNumber
    
</h3>

@if (Model.Offers.Count == 0)
{
    <text> No offers for this order</text>
}
else
{ 
    <h3><b>Offers Count : </b>@Model.Offers.Count </h3>

    <table class="table">
        @foreach (var item in Model.Offers)
        {
        <tr>
            <td>
                <b>OfferID </b>:@Html.DisplayFor(modelItem => item.Offer_Id)
            </td>
            <td>
               <b>TravellerReward</b> :@Html.DisplayFor(modelItem => item.TravellerReward)
            </td>
            <td>
                <b> Deliver Date:</b> @Html.DisplayFor(modelItem => item.DeliverDate)
            </td>
            <td>
                <b>Offer Status:</b> @Html.DisplayFor(modelItem => item.OfferSatatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orders.OrderSatatus)
            </td>

            <td>
                @Html.ActionLink("Accept Offer", "AcceptOffer", new { id = item.Offer_Id }) |
                @Html.ActionLink("Reject Offer", "Index", "")
            </td>
        </tr>
        }

    </table>
}
