@using WebFlug.Models
@model LoginViewModel
@{
    Layout = null;
}


    <meta charset="utf-8">
    <title>Login</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Font-->
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/css/nunito-font.css")>
    <!-- Main Style Css -->
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/css/LoginStyle.css")>


<body class="form-v6">
    <div class="page-content">
        <div class="form-v6-content">
            <div class="form-left">
                <img src="~/Content/images/signupTraveler2.jpg" alt="form">
            </div>

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-detail", role = "form" }))
            {
                <h2>Sign in</h2>
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-row-last">
                    @Html.TextBoxFor(m => m.UserName, new { placeholder = "UserName", @class = "input-text" })
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                </div>

                <div class="form-row-last">
                        @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "input-text" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>

                    <div class="form-row-last">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Login" class="register" name="register" />
                        </div>
                    </div>


                    <div>
                        <h1> @Html.ActionLink("Forgot your password?", "ForgotPassword", new { @class = "forgetandsignup" })</h1>
                    </div>

                    <div>
                        <h1>Don't have an account? @Html.ActionLink("Sign up", "Register", new { @class = "forgetandsignup" })</h1>
                    </div>


                    <div class="social-login">
                        <h1 class="social-label">Or login with</h1>
                        <ul class="socials">
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                        </ul>
                    </div>
              }

        </div>
    </div>
</body>