@using WebFlug.Models
@model WebFlug.Models.RegisterViewModel
@{
    Layout = null;

}
<head>
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/css/RegistrationStyle.css")>
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/css/nunito-font.css")>

    <title>Flug/Registeration Form</title>
</head>
<div class="page-content">
    <div class="form-v6-content">
        <div class="form-left">
            <img src=@Url.Content("/Content/images/signupTraveler2.jpg") alt="form">
        </div>
        <form class="form-detail" action="#" method="post">
            <h2>Sign Up</h2>
            <div class="form-row">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()


                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "input-text" })

                    </div>



                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.UserName, new { placeholder = "Username", @class = "input-text" })
                    </div>




                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "input-text" })
                    </div>


                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm password", @class = "input-text" })
                    </div>


                    <div class="form-row-last">
                        <input type="submit" name="register" class="register" value="Sign up">
                    </div>
                    <div>
                        <h1>have an account? @Html.ActionLink("Signin", "Login", new { @class = "forgetandsignup" })</h1>
                    </div>

                }
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
