@model WebFlug.Models.ApplicationUser

@{
    ViewBag.Title = "Block";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Html.Partial("_NavBar");
}

<div style="margin-right:10px; margin-left:40px;">

    <h2>Block</h2>

    <h3>Are you sure you want to Block this?</h3>
    <div>
        <h4>User</h4>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>


        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Block" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "showUsers", "Admin")
            </div>
        }
    </div>
</div>


