@model WebFlug.Models.Offers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>Delete</title>
<br />
<section class="sec-product-detail bg0 p-t-65 p-b-60">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-5 p-b-30">
                <div class="p-r-50 p-t-5 p-lr-0-lg">

                    <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                        Are You sure you want delete this offer?
                    </h4>

                    <div>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.orders.OrderNumber)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.orders.OrderNumber)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.TravellerReward)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.TravellerReward)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CreationDate)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CreationDate)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.OfferSatatus)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.OfferSatatus)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.DeliverDate)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DeliverDate)
                            </dd>

                        </dl>
                    </div>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <div class="size-210  flex-w flex-col-m p-lr-93 p-tb-30 p-lr-15-lg w-full-md">
                                <div class="flex-w w-full p-b-42">
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 "
                                                    onclick="location.href='@Url.Action("Delete", "Offer")'">
                                                Delete
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @Html.ActionLink("Back to My Offers", "MyOffer")
                        </div>
                    }
                </div>
            </div>
        </div>
        </div>
</section>

                
