@model WebFlug.Models.Offers

@{
   Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>Offer Details</title>
<br />
<section class="sec-product-detail bg0 p-t-65 p-b-60">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-5 p-b-30">
                <div class="p-r-50 p-t-5 p-lr-0-lg">

                    <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                        Offer Details
                    </h4>

                    <div>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.orders.OrderNumber)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.orders.OrderNumber)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.TravellerReward)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.TravellerReward)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CreationDate)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CreationDate)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.OfferSatatus)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.OfferSatatus)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.DeliverDate)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DeliverDate)
                            </dd>

                        </dl>
                    </div>
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.Offer_Id }) |
                        @Html.ActionLink("Back to List", "MyOffers")
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>