@model WebFlug.ViewModels.OrdersViewModel

@{
    ViewBag.Title = "offers of orders";
}


@if (Model.Offers.Count == 0)
{
    <text> No offers for this order</text>
}
else
{
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.order.OrderNumber)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Offers)
        </th>
        
        <th></th>
    </tr>
    
    @foreach (var item in Model.Offers)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.orders.OrderNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TravellerReward)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Offer_Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Offer_Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Offer_Id })
            </td>
        </tr>
    }

</table>
}